@font-face { 
  font-family: pacifico; 
  src: url('assets/fonts/Pacifico/Pacifico-Regular.ttf'); 
} 

@font-face { 
  font-family: open_sans; 
  src: url('assets/fonts/Open_Sans/OpenSans-Regular.ttf'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/Open_Sans/OpenSans-Light.ttf');
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Open_Sans/OpenSans-Regular.ttf');
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('assets/fonts/Open_Sans/OpenSans-Italic.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url('assets/fonts/Open_Sans/OpenSans-LightItalic.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/Open_Sans/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('assets/fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/Open_Sans/OpenSans-Bold.ttf');
}
/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('assets/fonts/Open_Sans/OpenSans-BoldItalic.ttf');
}
/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('assets/fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf');
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: 'Open Sans';
}

body {
  background: url('assets/images/bkg1.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: #fdfef9;
}

.main-container {
  height: 100vh;
}

.main-header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 55px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(15, 64, 95);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: whitesmoke;
  box-shadow: 0px 0px 8px 1px black;
}

.main-header > :first-child {
  margin-right: auto;
}

.logo,
.main-nav {
  height: 45px;
  display: flex;
  align-items: center;
}

.logo {
  font-family: pacifico;
  font-size: 1.5rem;
  padding: 5px;
}

.logo a {
  text-decoration: none;
  color: whitesmoke;
}

.main-nav {
  font-size: 1.5rem;
  display: flex;
}

.main-nav a {
  margin-left: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: whitesmoke;
}

.main-nav a {
  padding: 5px;
}

.main-nav a:hover,
.main-nav a.active {
 background-color: whitesmoke;
 color: rgb(15, 64, 95);
}

.main-content {
  padding-top: 55px;
  height: 100vh;
}

.index-content {
  margin: 0 auto;
  margin-top: 100px;
  width: 80vw;
  display: flex;
  color: whitesmoke;
  box-shadow: 5px 3px 10px -7px black;
}

.app-info {
  background-color: rgba(15, 64, 95, 0.8);
  padding: 10px;
  text-align: center;
  flex-grow: 1;
}

.app-info h1 {
  font-family: pacifico;
  font-size: 2.4rem;
  letter-spacing: 3px;
}

.app-info h2 {
  font-size: 2rem;
}

.app-info .support-text {
  font-size: 1.2rem;
  margin: 0 auto;
  margin-top: 20px;
  width: 480px;
}

.app-info .support-text:last-child {
  font-size: 2rem;
}

.app-info q {
  display: block;
  width: 500px;
  margin: 0 auto;
  margin-top: 40px;
  font-style: italic;
  width: 400px;
  font-size: 2.3rem;
}

.app-login {
  flex-grow: 1;
  background-color: rgba(255,255,255, 0.7);
  color: rgb(15, 64, 95);
  text-align: center;
}

.app-login > h2 {
  font-size: 1.8rem;
}

.app-login form {
  margin: 0 auto;
  margin-top: 20px;
  width: 380px;
}

.app-login form > input,
.app-login form > button {
  width: 350px;
  height: 60px;
  margin-top: 20px;
  padding: 5px;
  font-size: 1.7rem;
  color: rgb(15, 64, 95);
  border: 1px solid rgb(15, 64, 95);
}

.app-login form > button {
  border: none;
  background-color: rgb(15, 64, 95);
  color: whitesmoke;
}

.app-login form > button:hover {
  border: none;
  background-color: whitesmoke;
  border: 2px solid rgb(15, 64, 95);
  color: rgb(15, 64, 95);
  cursor: pointer;
}

.app-login form > input:focus {
  outline: 2px outset rgb(15, 64, 95);
}

.signup-info {
  margin-top: 20px;
}

.signup-info > a {
  color: rgb(15, 64, 95);
  font-weight: bold;
}

.signup-content {
  margin: 0 auto;
  margin-top: 100px;
  width: 40vw;
  height: 600px;
  display: flex;
  color: whitesmoke;
  box-shadow: 5px 3px 10px -7px black;
}

.home-content {
  margin: 0 auto;
  width: 90vw;

}

.expense-input {
  background-color: rgba(255,255,255, 0.7);
  border: 1px solid rgba(15, 64, 95, 0.8);
  margin-top: 20px;
  text-align: center;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expense-input > form > input, 
.expense-input > form > button {
  width: 200px;
  height: 40px;
  border: none;
  color: rgb(15, 64, 95);
  font-size: 1.3rem;
  font-weight: bold;
}

.expense-input > form > input {
  border: 1px solid rgb(15, 64, 95);
  padding: 0 5px;
}

.expense-input > form > input:first-child {
  border: 1px solid rgb(15, 64, 95);
  width: 220px;
}

.expense-input > form > button {
  background-color: rgb(15, 64, 95);
  color: whitesmoke;
  cursor: pointer;
}

.expense-data {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  height: 80vh;
  overflow-y: scroll;
}

.expense-data > table > thead > th {
  background-color: whitesmoke;
}

.expense-data > table thead th {
  position: sticky;
  top: 0;
}

.expense-data > table{
  width: 1100px;
  border-collapse: collapse;
  font-size: 1.2rem;
  background-color: whitesmoke;
}

.expense-data > table,
.expense-data > table td {
  border: 1px solid rgb(15, 64, 95);
}

thead, 
tbody, 
tr, 
td, 
th { 
  text-align: center;
}

tbody {

}

.expense-data table thead th,
.expense-data table tbody td {
  float: left;
  height: 40px;
}

.expense-data table thead th:nth-child(1),
.expense-data table tbody td:nth-child(1) {
  width: 12%;
}

.expense-data table thead th:nth-child(2),
.expense-data table tbody td:nth-child(2) {
  width: 22%;
}

.expense-data table thead th:nth-child(3),
.expense-data table tbody td:nth-child(3) {
  width: 48%;
}

.expense-data table thead th:nth-child(4),
.expense-data table tbody td:nth-child(4) {
  width: 10%;
}

.expense-data table thead th:nth-child(5),
.expense-data table tbody td:nth-child(5) {
  width: 8%;
}

.expense-data table tbody tr:nth-child(even) {
  background-color: rgb(15, 64, 95);
  color: whitesmoke;
}